<h1>Workout</h1>
<h3>新規投稿ページ</h3>
<%= form_for @workouts do |f| %>
  <div class="field">
    <%= f.label :トレーニング方法 %>
    <%= f.text_field :name, :size => 40 %>
  </div>

  <div class="field">
    <%= f.label :難易度 %>
    <%= f.select :explain, 
    [["簡単", "簡単"], 
    ["普通", "普通"], 
    ["難しい", "難しい"]], include_blank: "選択して下さい" %>
  </div>

  <divclass="field">
    <%= f.label :回数 %>
    <%= f.select :explain, 
    [["10回", "10回"], 
    ["20回", "20回"], 
    ["30回", "30回"],
    ["40回", "40回"],
    ["50回", "50回"]], include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :セット数 %>
    <%= f.select :explain, 
    [["1セット", "1セット"], 
    ["2セット", "2セット"], 
    ["3セット", "3セット"],
    ["4セット", "4セット"],
    ["5セット", "5セット"]], include_blank: "選択して下さい" %>
  </div>

  <%= f.select :category, [["腕", "arm"], ["胸", "stomach"], ["腹", "stomach"], ["脚", "legs"]], include_blank: "どの投稿？" %>

  <%= f.label :youtube_url %>
      <%= f.text_field :youtube_url, :size => 140 %>

  <%= f.submit "トレーニング方法を投稿する" %>
<% end %>