<%= form_for(@perfume, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="perfume-container">
        <div class="col-12">
            <h3>Q. 自分がなりたいと思うのは…</h3>
        </div>
        <div class="col-6">
            <%= f.radio_button :question1, "1", id: "custom_id1" %>
            <label for="custom_id1">ゴリマッチョ</label>
            <%= f.radio_button :question1, "2", id: "custom_id2" %>
            <label for="custom_id2">細マッチョ</label>
            <%= f.radio_button :question1, "3", id: "custom_id3" %>
            <label for="custom_id1">痩せれば何でもいい</label>
        </div>
    <div class="sindanbotan">
        <%= f.submit " 結果 " %>
    </div>
<% end %>